###> PhpStorm folders ###
.idea/
###< PhpStorm folders ###

###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/src/.preload.php
/var/
/vendor/
/migrations/database.sql
/migrations/model.mwb
/migrations/model.mwb.bak
/public/.htaccess
/public/assets/img/antennas
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
