{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <h1 class="text-center p-4">{{ header }}</h1>

    {% if antennas|length > 0 %}

        {% include "includes/table_antenna.html.twig" %}

    {% else %}
        <div class="text-center">No hay antenas registradas en la base de datos</div>
        <div class="text-center"><a href="#">Crear una atnena</a></div>
    {% endif %}
    
    {% endblock %}
