<table class="table table-hover table-responsive-md">
    <thead class="thead-dark">
        <tr class="text-center">
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Telefono</th>
            <th scope="col">Último pago realizado</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr class="text-center">
                <td>{{ user.name ~ ' ' ~ user.surname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{lastPayment(user.payments)}}</td>
                <td class="d-flex justify-content-between">
                    {% include "includes/user_buttons/details.html.twig" %}
                    {% include "includes/user_buttons/edit.html.twig" %}
                    {% include "includes/user_buttons/delete.html.twig" %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>