<h1>Wimax Test Email Provider</h1>

<p>
    Esto es un mensaje de prueba.
</p>

<p>
    <ul>
        <li>From: {{ email.from[0].address }}</li>
        <li>To: {{ email.to[0].address }}</li>
        <li>Subject: {{ email.subject }}</li>
    </ul>
</p>